.icon-remove {
    color: grey;
    cursor: pointer;
}

.icon-remove:hover {
    color: red;
}

.guests-list-item {
    display: flex;
}

.guests-list-item > div {
    flex-grow: 1;
}

.container-icon-remove {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container-button-invite {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
