.event-list {
    max-height: 300px;
    min-width: 500px;
    margin: 30px;
    margin-top: 31px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 0px !important;
    border: 1px solid #a0a096;
}
