#profilePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profilePageContainer h1 {
    text-align: center;
}

#profilePageContainer h2 {
    text-align: center;
    margin: auto;
}

.change-password-form {
    padding-top: 15px;
}

.change-password-form .form-label {
    color: black;
    font-size: medium;
}
