#passwordResetPage {
    margin-top: 150px;
}

#passwordResetPage h1 {
    margin: 25px;
}

.password-reset-form {
    width: 40%;
    padding-top: 15px;
    margin: auto;
}

.password-reset-form .form-label {
    color: white;
    font-size: medium;
}

#passwordResetEmailBtn {
    margin-top: 15px;
}

#displayError {
    text-align: center;
    color: red;
    font-size: large;
}
