#passwordResetPage h1 {
    margin: 25px;
}

.password-reset-form {
    width: 40%;
    padding-top: 15px;
    margin: auto;
}

.password-reset-form .form-label {
    color: black;
    font-size: medium;
}

#passwordResetEmailBtn {
    margin-top: 15px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
