#eventPlanningContainer {
    text-align: center;
}

#eventDetails {
    text-align: center;
    margin-top: 3em;
}

/* #eventDetails p {
    font-size: large;
    margin-left: 30px;
} */

#containerCol {
    margin: auto;
    width: 75%;
}

#buttonsRow {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
